@model testTask.Views.ViewModel.UserWithRoles


<div class="row text-lines-container">
    <h3>Изменение данных</h3>
    <form asp-action="EditUser" method="post" class="form-horizontal">
        <div class="mt-2">
            <label asp-for=User.FirstName>Имя</label>
            <div>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-2">
            <label asp-for="User.LastName">Фамилия</label>
            <div>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-2">
            <label asp-for="User.Email">Адрес электронной почты</label>
            <div>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-2">
            <label asp-for="User.Login">Логин</label>
            <div>
                <input asp-for="User.Login" class="form-control" />
                <span asp-validation-for="User.Login" class="text-danger"></span>
            </div>
        </div>
        <div class="mt-2">
            <label asp-for="User.Password">Пароль</label>
            <div>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-2">
            @Html.DropDownListFor(m => m.Roles, Model.Roles, "")
        </div>

        <input class="btn btn-success mt-4" type="submit" value="Сохранить изменения" />

    </form>
</div>