@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <a class="main-button" asp-controller="AdminPage" asp-action="Articles">Статьи</a>
    <a class="main-button" asp-controller="AdminPage" asp-action="Users">Пользователи</a>
</div>